{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/site-admin.css' %}">
</head>
<body>

    <div class="form-container">

    <form method="post" enctype="multipart/form-data">
      {%csrf_token%}
    <input type="file" id="imageInput" name="image" multiple>
    <button id="uploadButton" disabled style="cursor: pointer;">Upload</button>

    </form>

    </div>

    <!-- HTML code for the progress bar -->


    <progress id="progressBar"></progress>

   


<script type="text/javascript" src="{% static 'js/site-admin.js' %}"></script>
</body>
</html>