{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <div id="error-message"></div>
    <h2 class="h2-text">Upload Your Selfie/Image Below to Download Your Images.</h2>
    <div class="form-container">
    <form id="image-upload-form" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="file" id="image-input" name="image" onchange="enableUploadButton()">
        </div>
        <div class="form-group">
            <input type="submit" id="upload-button" value="Upload" disabled>
        </div>
    </form>
</div>

<div id="response-container"></div>

<div id="imageContainer">
    <!-- Images will be displayed here -->
</div>



<div class="container hidden" id="uploadTextContainer" >
    <p id="uploadText-refresh">Please do not refresh or close the window.</p>
    <h2 id="uploadText" style="display: none;">Image is being uploaded<span class="dot1">.</span><span class="dot2">.</span><span class="dot3">.</span></h2>
  </div>


<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>